<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>

    <div id="app">
     <h1></h1>
    </div>
    <script th:inline="javascript">
        function edit() {
            var link = /*[[@{/edit.html}]]*/ 'test';
            document.getElementById("test").action = link;
        }
    </script>

</body>
</html>